<div class="element-left">
  <div class="element-bg-img">
    <img [src]="imageHeader" alt="" class="img-responsive">
  </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Spa</a></li>
        <li><a href="#">Restaurant</a></li>
        <li class="anc-bor"><a href="#">Weather</a></li>
      </ul>
    </div>
    <div class="village">
      <h3>Places Weather and like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar">
          <hw01-village
              *ngFor="let restoran of restaurants"
              [restoran]="restoran"
              (selectedRestoran)="selected($event)">
          </hw01-village>
          <div class="clear"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
